@use "/src/app/styles/Variables" as v;

.main-page{
    display: flex;
    flex-direction: column;
    background-color: v.$veryLightGray;
    min-height: 100dvh;
}
.main-page-dark{
    background-color: v.$veryDarkBlueDarkMode;
    color: v.$white;
}
.main-content{
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    gap: 1.5rem;
}

@media (min-width: 600px){
    .main-content{
        padding: 0 1.25rem;
        gap: 3rem;
    }
    .main-page{
        gap: 2rem;
    }
}
@media (min-width:1200px){
    .main-content{
        
    }
}