@use "/src/app/styles/Variables" as v;

.main-page{
    display: flex;
    flex-direction: column;
    background-color: v.$veryLightGray;
}
.main-page-dark{
    background-color: v.$veryDarkBlueDarkMode;
    color: v.$white;
}