@use "/src/app/styles/Variables" as v;

.card{
    border-radius: .5rem;
    background-color: v.$white;
    box-shadow: v.$smallShadow;
    width:calc(minmax(100%, 125rem));
    overflow: hidden;

    cursor: pointer;
}

.card__flag{
    width:100%;
    max-width: 30rem;
}
.card__info{
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: 2rem 1.5rem;
}
.card__info p{
    font-size: .9rem;
}
.fullview .card__info{
    padding: 2rem 0;
    gap: .4rem;
}
.card__info span{
    font-weight: 800;
    text-transform: capitalize;
}
.card__info--country-name{
    margin-bottom:1rem;
    font-size: 1.25rem;
}
.card__info--country-name-native{

}
.card__info--population{

}
.card__info--region{

}
.card__info--capital{

}
.card__info--domain{
    margin-top: 2.5rem;
}
.card__info--currencies{

}
.card__languages{

}
.card-dark{
    background-color: v.$darkBlue;
}
.fullview{
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}

@media (min-width: 600px){
    .card.fullview {
        display: flex;
        align-items: center;
    }
    .card.fullview .card__flag{
        width:auto;
    }
}