@use "/src/app/styles/Variables" as v;

.card{
    --section-size: 1rem;
    display: flex;
    flex-direction: column;
    font-size: var(--section-size);
    border-radius: .25em;
    background-color: v.$white;
    box-shadow: v.$smallShadow;
    // width:calc(minmax(100%, 125rem));
    overflow: hidden;

    cursor: pointer;
}

.card__flag{
    width:100%;
    // max-width: 30rem;
}
.card__info{
    display: flex;
    flex-direction: column;
    gap: .75em;
    padding: 2em 1.5em;
}
.card__info p{
    font-size: .9em;
    line-height: 1.5rem;
}
.fullview .card__info{
    padding: 2em 0;
    gap: 1em;
}
.card__info span{
    font-weight: 600;
    text-transform: capitalize;
}
.card__info--country-name{
    // margin-bottom:1em;
    font-size: 1.25em;
}
.fullview .card__info--country-name{
    font-size: 1.5em;
}
.card__info--country-name-native{

}
.card__info--population{

}
.card__info--region{

}
.card__info--capital{

}
.card__info--domain{
    margin-top: 2.5em;
}
.card__info--currencies{

}
.card__languages{

}
.card-dark{
    background-color: v.$darkBlue;
}
.fullview{
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}

@media (min-width: 600px){
    .fullview{
        --section-size: 1.1rem;
        // flex-direction: row;
    }

    .fullview.card__info{
        gap: 1rem;
    }
    .fullview .card__flag{
    }
    .card__info--domain{
        margin-top: 0;
    }
    .fullview .card__info-sections{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .card__info-section1{
    
    }
    
    .card__info-section2{
    
    }
}

@media (min-width:900px){
    .fullview{
        --section-size: 1.2rem;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
    .fullview .card__flag{
        width: 50%;

    }
    .fullview .card__info{
        width: 50%;
    }
    .fullview .card__info-sections{
        flex-direction: column;
    }
    .card__info--domain{
        margin-top: 0;
    }

}

@media (min-width: 1200px){
    .fullview{
        gap: 6rem;
    }
    .fullview .card__info-sections{
        flex-direction: row;
    }
}
