@use "/src/app/styles/Variables" as v;

.country-search{
    --section-size: 1rem;
    font-size: var(--section-size);
    background-color: v.$white;
    box-shadow: v.$smallShadow;
    padding: .75em 2em;
    display: flex;
    align-items: center;
    gap:1.25em;
    border-radius: .5em;
    width: min(calc(var(--section-size)*30), 100%);
}
.country-search__label{

}
.country-search__label__img{
    width: 1.5em;
    filter: invert(53%) sepia(27%) saturate(0%) hue-rotate(243deg) brightness(95%) contrast(87%);
}
.country-search__input{
    width:100%;
    border:0;
    outline: 0;
}
.country-search__input::placeholder{
    color: v.$darkGray;
    font-size: calc(var(--section-size)*0.75);
    font-weight: 400;
}
.country-search-dark{
    background-color: v.$darkBlue;
}
.country-search-dark .country-search__input{
    background-color: v.$darkBlue;
    color: v.$white;
}
.country-search-dark .country-search__label__img{
    filter: brightness(0) invert(1);
    opacity: 1;
}
.country-search-dark .country-search__input::placeholder{
    opacity: 1;
}

@media (min-width: 600px){
    .country-search{
        --section-size: 1.1rem;
    }
}
@media (min-width:1200px){
    .country-search{
        --section-size: 1.2rem;
    }
}